[submodule "colors"]
	path = colors
	url = https://github.com/vim-scripts/icansee.vim
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/always/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "bundle/py/pydoc.vim"]
	path = bundle/py/pydoc.vim
	url = https://github.com/fs111/pydoc.vim
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
