[submodule "colors"]
	path = colors
	url = https://github.com/vim-scripts/icansee.vim
[submodule "bundle/vim-surround"]
	path = bundle/always/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/always/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "bundle/always/ctrlp.vim"]
	path = bundle/always/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/always/YouCompleteMe"]
	path = bundle/always/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/py/pydoc.vim"]
	path = bundle/py/pydoc.vim
	url = https://github.com/fs111/pydoc.vim
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
